body {
  font: 20px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background-color:green;
}

ol, ul {
  display: inline-block;
  padding-left: 30px;
}


.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: rgb(196, 248, 204);
  border: 1px solid rgb(7, 7, 7);
  float: left;
  font-size: 40px;
  font-weight: bold;
  line-height: 34px;
  height: 70px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 70px;
}

.square:focus {
  outline: none;
}

.game {
  display: flex;
  flex-direction: row;
}

#tictac {
  display:inline-block;
  padding: 20px;
}

#instructions {
  font-size: 16px;
  padding: 30px
}

.center {
  margin: auto;
  text-align: center;
  width: 50%;
  padding: 30px;
}

#header {
  text-align: center;
  padding: 10px;
  margin-left: -25;
  font-weight:bold;
  font-size:24px;
  border-bottom:3px solid white;
  }

#nav {
  background-color:green;
  border-bottom: 4bx solid 003300;
  overflow:visible;
}

#app {
  background-color: green;
}

.game-info {
  margin-left: 20px;
}

